ol{
    margin:0;
    padding:0
}
table td,table th{
    padding:0
}
.c13{
    margin-left:-0.8pt;
    padding-top:20pt;
    padding-bottom:0pt;
    line-height:1.0;
    orphans:2;
    widows:2;
    text-align:left;
    color: #00C125;
}
.c17{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:16pt;
    font-family:"Roboto";
    font-style:normal
}
.c8{
    color:#6d64e8;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Roboto";
    font-style:normal
}
.c2{
    color:#283592;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Roboto";
    font-style:normal
}
.c7{
    color:#6d64e8;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:20pt;
    font-family:"Roboto";
    font-style:normal;
    color: #4A2ABF;
}
.c6{
    color:#666666;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Roboto";
    font-style:normal
}
.c12{
    margin-left:-72pt;
    padding-top:10pt;
    padding-bottom:80pt;
    line-height:1.0;
    orphans:2;
    widows:2;
    text-align:left
}
.c10{
    padding-top:20pt;
    padding-bottom:0pt;
    line-height:1.4;
    orphans:2;
    widows:2;
    text-align:left;
    margin-right:-4.5pt
}
.c9{
    color:#283592;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:34pt;
    font-family:"Roboto";
    font-style:normal
}
.c1{
    margin-left:-0.8pt;
    padding-top:16pt;
    padding-bottom:0pt;
    line-height:1.0;
    orphans:2;
    widows:2;
    text-align:left
}
.c3{
    color:#666666;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:10pt;
    font-family:"Roboto";
    font-style:normal
}
.c5{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.4;
    orphans:2;
    widows:2;
    text-align:left;
    color: #4A2ABF;
}
.c15{
    padding-top:30pt;
    padding-bottom:0pt;
    line-height:1.4;
    orphans:2;
    widows:2;
    text-align:left
}
.c0{
    padding-top:10pt;
    padding-bottom:0pt;
    line-height:1.4;
    orphans:2;
    widows:2;
    text-align:left;
    color: #BF308D;
}
.c18{
    padding-top:20pt;
    padding-bottom:0pt;
    line-height:1.0;
    orphans:2;
    widows:2;
    text-align:left
}
.c19{
    text-decoration-skip-ink:none;
    font-size:12pt;
    -webkit-text-decoration-skip:none;
    color:#6d64e8;
    text-decoration:underline
}
.c16{
    background-color:#ffffff;
    max-width:468pt;
    padding:54pt 72pt 54pt 72pt
}
.c14{
    color:inherit;
    text-decoration:inherit
}
.c4{
    height:11pt
}
.c11{
    color:#2B25D9
}
.title{
    padding-top:20pt;
    color:#00C125;
    font-size:34pt;
    padding-bottom:0pt;
    font-family:"Roboto";
    line-height:1.0;
    orphans:2;
    widows:2;
    text-align:left
}
.subtitle{
    padding-top:10pt;
    color:#e01b84;
    font-size:11pt;
    padding-bottom:0pt;
    font-family:"Roboto";
    line-height:1.4;
    orphans:2;
    widows:2;
    text-align:left
}
li{
    color:#666666;
    font-size:11pt;
    font-family:"Roboto"
}
p{
    margin:0;
    color:#666666;
    font-size:11pt;
    font-family:"Roboto"
}
h1{
    padding-top:20pt;
    color:#e01b84;
    font-size:20pt;
    padding-bottom:0pt;
    font-family:"Roboto";
    line-height:1.0;
    text-align:left
}
h2{
    padding-top:16pt;
    color:#BF308D;
    font-size:16pt;
    padding-bottom:0pt;
    font-family:"Roboto";
    line-height:1.0;
    orphans:2;
    widows:2;
    text-align:left
}
h3{
    padding-top:10pt;
    color:#283592;
    font-weight:700;
    font-size:12pt;
    padding-bottom:0pt;
    font-family:"Roboto";
    line-height:1.4;
    orphans:2;
    widows:2;
    text-align:left
}
h4{
    padding-top:10pt;
    color:#666666;
    font-weight:700;
    font-size:11pt;
    padding-bottom:0pt;
    font-family:"Roboto";
    line-height:1.4;
    orphans:2;
    widows:2;
    text-align:left
}
h5{
    padding-top:8pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:0pt;
    font-family:"Trebuchet MS";
    line-height:1.4;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h6{
    padding-top:8pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:0pt;
    font-family:"Trebuchet MS";
    line-height:1.4;
    page-break-after:avoid;
    font-style:italic;
    orphans:2;
    widows:2;
    text-align:left
}
